.App {
    text-align: center;
  }
  
  .App-content {
    background-color: #e83e8c;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  h3 {
    color: white;
    cursor: pointer;
  }

  h3:hover {
    transform: scale(1.5);
    transition-duration: 1s;
  }

  @media screen and (max-width: 600px) {
    h3:hover {
      transform: scale(0.5);
      transition-duration: 1s;
    }
  }

  .App-link {
    color: #61dafb;
  }
  